- content_for :page_title do
  = t('settings.instances')

%table.table
  %thead
    %tr
      %th= t('instances.account')
      %th
  %tbody
    - @account.other_instance_accounts.each do |other|
      %tr
        %td
          = link_to other.uid, other.url
        %td
          = table_link_to 'times', t('instances.revoke'), settings_instance_path(other), method: :delete, data: { confirm: t('instances.confirmations.revoke') }

= link_to t('instances.add'), new_settings_instance_path
