- content_for :page_title do
  = t('admin.secondlife.title')

- if @setting.avatar_uuid.present?
  %textarea(style="width:100%" rows="50" readonly)
    :plain
      key http_request_id;
      key avatar_id;
      
      default {
          state_entry() {
              http_request_id = llHTTPRequest("#{api_sl_terminal_url}", [HTTP_METHOD, "POST"], "");
          }

          http_response(key request_id, integer status, list metadata, string body) {
              if (request_id == http_request_id) {
                  if (status == 200) {
                      state service;
                  } else {
                      llOwnerSay((string)status);
                      llOwnerSay(body);
                  }
              }
          }
      }

      state service {
          state_entry() {
              llOwnerSay("standby");
          }
          
          touch_start(integer total_number) {
              avatar_id = llDetectedKey(0);
              string data = llList2Json(JSON_OBJECT,
                                        ["key", avatar_id,
                                         "lagacy_name", llDetectedName(0),
                                         "display_name", llGetDisplayName(avatar_id),
                                         "user_name", llGetUsername(avatar_id)]);
              http_request_id = llHTTPRequest("#{api_sl_account_url}",
                                              [HTTP_METHOD, "POST", HTTP_MIMETYPE, "application/json;charset=utf-8"],
                                              data);
          }

          http_response(key request_id, integer status, list metadata, string body) {
              if (request_id == http_request_id) {
                  if (status == 200) {
                      string token = llJsonGetValue(body, ["token"]);
                      llLoadURL(avatar_id, "", "#{callback_api_sl_account_url}?token=" + token);
                  } else {
                      llOwnerSay((string)status);
                      llOwnerSay(body);
                  }
              }
          }
      }

= simple_form_for @setting, as: :setting, url: admin_secondlife_path, method: 'patch' do |f|
  = f.input :avatar_uuid, placeholder: t('admin.secondlife.labels.avatar_uuid')
  = f.submit

%textarea(style="width:100%" rows="50" readonly)
  :plain
    string url = "";
    string client_id = "";
    string client_secret = "";
    string token = "";
    
    default {
        state_entry() {
            llReleaseURL(url);
            llRequestSecureURL();
        }

        on_rez(integer param) {
            llReleaseURL(url);
            llRequestSecureURL();
        }

        changed(integer change) {
            if (change & (CHANGED_REGION | CHANGED_TELEPORT | CHANGED_REGION_START)) {
                llReleaseURL(url);
                llRequestSecureURL();
            }
        }

        http_request(key id, string method, string body) {
            if (method == URL_REQUEST_GRANTED) {
                string data = llList2Json(JSON_OBJECT,
                                          ["script_url", body]);
                llHTTPRequest("#{api_sl_script_url}",
                              [HTTP_METHOD, "POST", HTTP_MIMETYPE, "application/json;charset=utf-8"],
                              data);
                llOwnerSay("free urls:" + (string)llGetFreeURLs());
            } else if(method == URL_REQUEST_DENIED) {
                llOwnerSay(body);
            } else {
                llHTTPResponse(id, 200, "OK");
            }
        }

        http_response(key id, integer status, list meta, string body) {
            llOwnerSay(body);
            if (body == "script registered" && token == "") {
                llLoadURL(llGetOwner(), "", "#{api_sl_proxy_url}?_method=post&domain=" + llGetObjectDesc());
            }
        }
    }
